* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #0d1a2d;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 20px 0;
}

.card {
  max-width: 350px;
  background-color: #15273f;
  padding: 24px;
  border-radius: 15px;
}

.img {
  position: relative;
  margin-bottom: 20px;
}

.img img {
  max-width: 100%;
  border-radius: 10px;
}

.img:hover img.view {
  display: block;
}

.img:hover:before {
  content: "";
  background-color: rgba(0, 255, 247, 0.3);
  background-image: url("images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 99%;
  border-radius: 10px;
}

.info h1 {
  font-size: 1.5rem;
  color: white;
}

a:hover {
  color: hsl(178, 100%, 50%);
}

.info p {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  padding-block: 15px 25px;
  line-height: 1.5;
}

.info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: solid 1px #2f415b;
}

.info .row img {
  padding-right: 5px;
  vertical-align: middle;
}

.info .row span:first-child {
  color: hsl(178, 100%, 50%);
}

.info .row span:last-child {
  color: #8bacd9;
}

.info .account {
  padding-top: 15px;
  color: #8bacda;
}

.info .account a {
  color: white;
}

.info .account a:hover {
  color: hsl(178, 200%, 50%);
}

.info .account img {
  vertical-align: middle;
  height: 32px;
  margin-right: 1rem;
  border-radius: 50%;
  border: solid 1px white;
}
